@charset "utf-8";
/* CSS Document */

.textbox1{
	padding-top : 1% ; 
	padding-left : 2% ;
	padding-bottom : 0% ;
	font-size : 1.2em ; 
	list-style-type : none ; 
}

.fontforbio{
	color : lightgray;
	font-size : 0.8em ;
}

.sponsorswrapper{
	float : left ;
	width : 1060px ;
	margin-left : 130px ;
}

.columns{
	column-count: 2 ;
}
.projectWrapper{
	float:left;
	width: 1060px;
}

.projectLeft{
	float : left ;
	font-size: 16px;
	width : 530px ;
}


.projectRight{
	width: 530px;
	text-align: left;
	float: right;
}

.mybutton a{
	padding-top: 10px;
	text-decoration: none;
	float: left;
	font-weight: bold;
	transition: all .5s;
	border-radius: 5px;
	color: white;
	background: #3699c9;
	width: 220px;
	height: 30px;
	text-align: center;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5),0px 0px 0px 1px rgba(0,0,0,.1);
	cursor: pointer;
	margin-top: 20px;
	margin-bottom : 20px ;
}

.mybutton a:hover {
	background: #ffa200;
}

.heading3font{
	color : darkorange;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: orange;
}