@charset "utf-8";
body {
	margin: 0px 0px 0px 0px;
	font-family: 'roboto';
}
.mainbody {
	width: 1060px;
	min-height: 600px;
	margin-right: auto;
	margin-left:auto;
}
.mainlogo {
	float:left;
	margin-left: 254px;
}
.navbar{
	float:left;
	width: 910px;
	height:26px;
	margin-left:75px;
	margin-bottom: 10px;
}
.navbar ul {
	float:left;
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 2px 1px rgba(0, 0, 0, 0.8);
	
}
.navbar li {
	float:left;
}
.navbar a:link,a:visited {
	float:left;
	text-decoration: none;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); 
	display:block;
	font: bold;
	color:#FFFFFF;
	background-color: #3699c9;
	width: 120px;
	text-align:center;
	padding:5px;
}
.navbar a:hover,a:active {
	color: #ffa200;
	
}
.divider {
    position: absolute;
    padding:4px;  
	color: white;
}
.webtail{
	float:left;
	width: 910px;
	margin-top:15px;
	background-color: #3699c9;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); 
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 2px 1px rgba(0, 0, 0, 0.8);
}
.webtail ul {
	float:right;
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;

	
}
.webtail li {
	float:right;
}
.webtail a:link,a:visited {
	float:right;
	text-decoration: none;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); 
	display:block;
	font: bold;
	color:#FFFFFF;
	background-color: #3699c9;
	width: 120px;
	text-align:center;
	padding:10px;
}
.webtail a:hover,a:active {
	color: #ffa200;
	
}
.webtailleft{
	float:left;
	width: 60px;
	height: 9px;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); 
}
.webtailleft p{
	position: absolute;
	font: bold;
	font-size: 14px;
	color:#FFFFFF;
	padding-left:10px;
	margin-bottom: 10px;
}
.webtailicon img{
	position: absolute;
	padding-left: 425px;
}
.webtailwrapper{
	float:left;
	width: 910px;
	height: 70px;
	margin-left:75px;
	margin-top: 20px;
		
}
.facebookimg{
	position: absolute;
	margin-left: 630px;
	margin-top: 14px;
}
.contactimg{
	position: absolute;
	margin-left: 771px;
	margin-top: 14px;
}
.mainwrapper{
	float: left;
	width: 1060px;
	margin-top:10px;
	margin-bottom: 10px;
}
.leftuppertext{
	font-family: Haettenschweiler;
	letter-spacing: 0.4px;
	float:left;
	font:bold;
	font-size: 25px;
	width: 140px;
}
.artistcontent p{
	margin-left: 290px;
	margin-right: 10px;
}
.artistimage{
	float:left;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.contentwrapper{
	float:right;
	width: 920px;
	background-color: #f6f6f6;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 2px 1px rgba(0, 0, 0, 0.8);
}
.artistheader {
	font-size: 20px;
	color: #263252;
	font-family: Haettenschweiler;
	text-shadow: 0 2px 1px rgba(0, 0, 0, .5); 
	margin-left: 50px;
}
.artistnavigation{
	float:left;
}
.leftprevpost{
	float:left;
	margin-left: 140px;
}
.rightnextpost{
	float:right;
	margin-left: 650px;
}
.artistnavigation a:link,a:visited {
	text-decoration: none;
	color: #263252;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); 
	font: bold;
	text-align:center;
}
.artistnavigation a:hover,a:active {
	color: #ffa200;
}
.leftprevpost p{
	
}
.nextpagearrow{
	position: absolute;
	color: #263252;
    font-size: 24px;
	margin-left:160px;
}
.prevpagearrow{
	position: absolute;
	color: #263252;
    font-size: 24px;
	margin-left: -20px;
}